/* GLOBAL STYLE */
html, body {
    margin: 0;
    padding: 0;
}

html {
    box-shadow: 0 0 0 30px #000 inset;
    padding: 0 30px;
    scrollbar-color: #454a4d #202324;
}

body {
    /* font-family: helvetica, arial, sans; */
    font-family: 'Ubuntu', helvetica, arial, sans; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #181a1b;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', helvetica, sans;
    font-weight: 100;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

a {
    color: #f00;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.5;
    margin: 0.75em 0;
    color: #fff;
}

h4 {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}

li {
    color: #fff;
}

i {
    text-indent: 1px;
}

/* 
"h2 + p" Works on the P if the p is immediately after the h2 
"h2 ~ p" works on ALL ps that come after the h2.

This selective stuff doesn't go on to elements inside other elements tho :)
*/

h2 ~ p {
    font-size: 0.8em;
    font-style: normal;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}

blockquote {
    margin-top: 0.5em;
    padding: 2px 20px; 
    background-color: grey; 
    text-align: center;
    color: #fff;
}

a.unclickable {
    cursor: not-allowed;
}

/* Some flex grow stuff */
.content-container {
    /* Short form for flex is grow, shrink, basis */
    flex: 1 1 auto;
    padding-top: 10vh;

    /* Flex item can become a flex container */
    display: flex;
}

/* COLUMN STYLES */
.col-three {
    display: flex;
    flex: 1 1 0;
}

.col {
    box-sizing: border-box;
    padding: 2em;
}

/* this targets .col preceded by .col-three .col */
.col-three .col ~ .col {
    border-left: 1px solid rgba(0.1, 0.1, 0.1, 0.1)
}

.col-three .col-nav {
    flex: 0 1 15em;
}

.col-three .col-content {
    flex: 1 1 0;
}

.col-three .col-aside {
    flex: 0 1 20em;
}

/* HEADER STUFF */
.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.header-logo {
    background-color: #000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    padding-top: 10px;
    left: -30px;
    position: relative;
    text-align: center;
    width: 10vh;
  }

.header-logo:hover,
.header-logo:active {
    opacity: 0.25;
}

.header-logo img {
    width: 4.3vh;
}

.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}

.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}

/* Apply these rules to any li next to intial li in element with class header-nav. */
.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
}

.nav-links a:hover, 
.nav-links a:active,
.nav-links span:hover, 
.nav-links span:active {
    color: red;
    opacity: 0.5;
}

/* Target the first link using the first-child */

.header-nav > li:first-child a,
.header-nav > li:last-child a {
    color: red;
}

.header-nav > li:first-child a:hover,
.header-nav > li:first-child a:active,
.header-nav > li:last-child a:hover,
.header-nav > li:last-child a:active {
    color: #fff;
}

.header-nav a.gallery {
    display: none;
}

/* HEADER DROPDOWN STYLES */
.nav-links a, .drop-trigger, .show-mobile-menu {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.dropdown:hover .drop-menu {
    display: block;
}

.dropdown:hover .drop-trigger:after {
    border-color: red transparent transparent;
    opacity: 0.5;
}

.drop-trigger {
    display: inline-block;
    padding-right: 1.5em;
    position: relative;
}

.drop-trigger:after {
    border: 0.3em solid;
    border-color: #fff transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    top: 0.3em;
}

.drop-menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);    
    display: none;
    list-style: none;
    padding: 1em 0 0;
    position: absolute;
    right: 0;
    z-index: 0;
}

.drop-menu:before {
    border: 0.6em solid;
    border-color: transparent transparent #181a1b;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: -0.1em;
    width: 0;
}

.drop-menu li {
    background-color: #181a1b;
}

.drop-menu li ~ li:hover {
    background-color: #35393b;
}

.drop-menu li ~ li {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
}

.drop-menu li:first-child {
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 0.5em;
    padding: 1em 1em 0.25em 1em;
    text-align: right;
    text-transform: uppercase;
}

.drop-menu li:last-child {
    border-radius: 0 0 5px 5px;
}

.drop-menu a {
    color: #fff;
    display: block;
    font-weight: normal;
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
}

.drop-menu a:hover {
    color: #8f908f;
}

/* FOOTER DROPDOWN STYLES */
.footer .dropdown:hover .drop-trigger:after {
    border-color: transparent transparent red;
    opacity: 0.5;
}

.footer .drop-trigger {
    padding-left: 1.5em;
}

.footer .drop-trigger:after {
    border-color: transparent transparent #C8C3BC;
}

.footer .drop-menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);    
    display: none;
    bottom: 0.6em;
    padding: 0 0 1em;
}

.footer .drop-menu:before {
    display: none;
}

.footer .drop-menu::after {
    border: 0.6em solid;
    border-color: #181a1b transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0.5em;
    bottom: -0.1em;
    width: 0;
}

.footer .drop-menu li {
    margin: auto;
    display: block;
}

.footer .drop-menu a {
    color: #fff;
}

.footer-nav > li.dropdown {
    margin-left: 0;
    margin-right: 0;
}

/* FOOTER STYLE */
.footer {
    background-color: #000;
    padding: 10vh 0 10vh;
    text-align: center;
}

.footer-logo img {
    width: 50px;
}

.footer h3 {
    font-size: 30px;
    color: #fff;
    padding-top: 1em;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaa;
}

.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0;
}

.footer-nav a {
    color: #C8C3BC;
}

/* INFO STYLE */
.info-wrapper {
    padding: 2%;
    line-height: 1.5;
}

/* HERO STYLES */
.full-hero {
    background-color: #c7dbfc;
    padding-top: 10vh;
    height: 90vh;
    box-sizing: border-box;
    background-size: cover;
}

/* This is one method to make a down arrow
.full-hero::after {
    bottom: 2vh;
    color: #fff;
    content: '⌄';
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}
*/

.full-hero::after {
    border: 10px solid;
    border-color: rgb(48, 52, 54) transparent transparent;
    bottom: 2vh;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
}

.hero-home {
    /* Resizing the position using anchor point center top */
    background-position: center top;
    background-image: url(/images/shark.jpg);
}

.hero-content {
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0, -50%);
}

.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25em;
}

.hero-content .social-link {
    background-color: rgba(24, 26, 27, 0.8);
    color: rgb(164, 156, 144);
}

.hero-content .social-link:hover {
    background-color: #000;
    color: #fff;
}

/* HERO AFTER AND BEFORE
.hero-content h1::before {
    color: blue;
    content: 'B';
}

.hero-content h1::after {
    color: red;
    content: 'A';
}
*/

/* HOME STYLE */
.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw;
}

.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.home-callout h3 {
    color: inherit;
    margin-top: 1em;
}

.home-callout {
    background-color: #000;
    color: #fff;
    padding: 7vh 0;
    align-items: center;
    display: flex;
    padding: 7vh 0;
}

.callout-title {
    font-size: 5.75vw;
    text-align: right;
    text-transform: uppercase;
    flex: 1 1 0;
}

.callout-copy {
    flex: 0 0 45em;
    padding: 0 3vw;
}

.callout-copy p {
    font-size: 0.8rem;
}

/* SOCIAL STYLE */

.social-link {
    /* Use RGBa to set transparency. 0 is transparent and 1 is opaque */
    background: rgba(83, 90, 94, 0.5);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: helvetica, arial, sans;
    font-size: 1.7em;
    font-weight: bold;
    height: 1.5em;
    line-height: 1;
    padding-top: 0.25em; 
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 1.5em;
}

.social-link:hover {
    color: #63b364;
    opacity: 0.5;
    background-color: #27292b;
}

.social-list {
    list-style: none;
    padding: 3vh 0;
    text-align: center;
}

.sfooter {
    background-color: #000;
}

.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}

/* BIO STYLES */

.bio-wrapper {
    background-color: #292c2e;
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    /* Overflow hidden clears the float so text doesnt cascade down the blocks */
}

.bio-box {
    float: left;
    font-size: 1rem;
    margin: 6rem 0 0;
    padding: 0 3% 3%;
    width: 33%;
    box-sizing: border-box;
}

.bio-box .social-link {
    display: block;
    margin: 2em auto 1em;
}

.bio-box img {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.bio-box h3 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: -40px 0 1em 0;
    text-transform: uppercase;
}

.bio-copy {
    font-size: 1em;
    line-height: 1.5;
}

.bio-copy a {
    color: #060;
}

.star {
    color: #de7308;
}

/* GALLERY STYLES */
.gallery-thumbs {
    height: 90vh;
    overflow: scroll;
}

.gallery-thumbs > div {
    cursor: pointer;
}

.gallery-thumbs img {
    box-sizing: border-box;
    box-shadow: 0 0 0 5px transparent;
    display: inline-block;
    margin: 0 0 10px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.gallery-thumbs img:hover {
    opacity: 1;
}

.gallery-thumbs .current img {
    opacity: 1;
    box-shadow: 0 0 0 5px #ed6e2f;
    cursor: default;
}

.gallery-photo {
    position: relative;
}

.gallery-photo img {
    width: 100%;
}

.gallery-info {
    font-size: 0.8rem;
}

.gallery-info h3 {
    margin-bottom: 1em;
}


/* BLOG STYLES */
.col-two {
    display: flex;
}

.col-two .col-aside {
    flex: 0 0 20em;
    order: 1;
}

.col-two .col-content {
    flex: 1 1 0;
}

span.category {
    padding: 1%;
    border-radius: 5px;
    margin-right: 0.25vw;
}

span.category.projects {
    background: red;
    border: 1px solid red;
}

span.category.blog {
    background: orangered;
    border: 1px solid orangered;
}

.page {
    margin: 10vh auto 15vh;
    max-width: 980px;
    width: 85vw;
}

.page h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}

.page h2 {
    margin-bottom: 0.5em;
}

.page h4 {
    margin-bottom: 1em;
}

.blog-recent {
    text-align: right;
}

.blog-title-list {
    list-style: none;
    padding: 0;
}

.blog-title-list li ~ li {
    margin-top: 1.5em;
}

.blog-title-list span {
    color: #999;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.5em;
}

.blog-posts ~ .blog-posts {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-top: 2.5em;
    padding-top: 2.5em;
}

.blog-posts .post-header {
    font-size: 0.8rem;
}

.post-header img,
.post-header .social-link {
    margin-right: 0.5em;
}

.post-header img, .recents img {
    border-radius: 99px;
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
}

.posts-image {
    background-position: center;
    background-size: cover;
    height: 10em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.post {
    width: 100%;
}

.post-content, .post-footer {
    margin: auto;
    max-width: 40em;
    width: 85vw;
}

.pull-left {
    float: left;
    margin: 2em 2em 2em -2%;
}

.pull-right {
    float: left;
    margin: 2em -2% 2em 2em;
}

.post-aside {
    float: right;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0 2em 2em;
    padding: 2em;
}

.post .post-header {
    margin-bottom: 2.5em;
    text-align: center;
}

.post-content {
    font-size: 1.1rem;
}

.blog-posts .post-byline {
    text-align: left;
}

.post-footer {
    border-top: 1px solid rgba(203, 198, 189, 0.5);
    font-style: italic;
    font-size: 0.8em;
    margin-top: 3em;
    padding-top: 2em;
}

.half-hero {
    background-position: center center;
    background-size: cover;
    height: 40vh;
}

.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.home-section h4 {
    margin-bottom: 0.5em;
    text-align: center;
}

.home-section .post-header {
    text-align: center;
}

.home-section .blog-posts {
    margin: auto;
    width: 75%;
}

.mobile-menu-check, .show-mobile-menu {
    display: none;
}

/* PROJECTILE MOTION PAGE */
.projectile {
    flex-direction: column;
    text-align: center;
    margin: 5vh;
}

.calculator {
    width: 90%; 
    height: 70vh; 
    padding: 5vh;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

table.t2 {
    margin-top: 2.5vh;
    border: 1px solid rgb(107, 118, 122);
}

table th {
    background-color: red;
}

table tr td, table th {
    padding: 0.5625em 0.625em;
}  

table td {
    text-align: left;
}

tr:nth-child(2n) {
    background-color: rgb(36, 39, 41);
}

tr:nth-child(2n + 1) {
    background-color: rgb(24, 26, 27);
}

table tr {
    border-bottom: 1px solid #ddd;
    font-size: 0.9vw;
}

/* MOBILE STYLES */
/* Apply when the screen is a certain size / attribute. Also they're at the bottom because CSS specificity likes to do its thing ;) */

@media (max-width: 900px) {
    html {
        box-shadow: none;
        padding: 0;
    }

    /* HOMEPAGE STYLES */
    .home-callout {
        flex-direction: column;
    }

    .home-callout .callout-copy {
        flex: 1;
    }

    .bio-box {
        float: none;
        font-size: 1.3rem;
        width: auto;
    }

    /* HEADER STYLES */
    .header-nav {
        padding: 2vh 1em 0 0;
    }

    .header-nav > li {
        margin-left: 0.25em;
    }

    .header-nav > li ~ li {
        padding-left: 0.25em;
    }

    .nav-links a{
        font-size: 3vw;
    }

    .header-logo {
        left: auto;
    }

    /* BLOG POST STYLES */
    .post-aside {
        display: none;
    }

    /* GALLERY STYLES */
    .gallery {
        flex-direction: column;
    }

    .gallery .col {
        padding: 1em;
    }

    .gallery .gallery-thumbs {
        flex: 1 1 10vh;
        height: auto;
        white-space: nowrap;
        width: 100vw;
    }

    .gallery-thumbs > div {
        display: inline-block;
    }

    .gallery-thumbs img {
        height: 7vh;
        margin: 0 10px 0 0;
        width: auto;
    }

    .gallery .gallery-info {
        flex: 1;
    }

    .blog-recent {
        display: none;
    }

    .blog-previews {
        padding: 0;
    }

    /* MOBILE MENU */
    .show-mobile-menu {
        display: block;
        float: right;
        margin-top: 1.5vh;
        padding: 1.5em;
        position: relative;
        text-transform: uppercase;
    }

    .header-nav {
        background-color: #444;
        box-sizing: border-box;
        left: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 10vh;
        width: 100vw;
        z-index: 9;
        transition: all 0.5s ease-in-out;
    }

    .header-nav li {
        display: block;
        margin-top: 1em;
    }

    .header-nav li ~ li {
        border: 0;
        padding: 0;
    }

    .header-nav li:last-child {
        margin-bottom: 1em;
    }

    .header-nav li:first-child a,
    .header-nav li:last-child a {
        color: #fff;
    }

    .header-nav li:first-child a:hover,
    .header-nav li:last-child a:hover {
        color: red;
        opacity: 0.5;
    }

    .mobile-menu-check:checked ~ .header-nav {
        max-height: 1000px;
    }

    /* HIDING YE DROPDOWNS */
    .header-nav .dropdown:hover .drop-menu,
    .header-nav .drop-trigger::after {
        display: none;
    }

    .header-nav .drop-trigger {
        padding-right: 0;
    }

    .mobile-menu-check:checked ~ .show-mobile-menu:after {
        background-color: #000;
        color: #f00;
        content: "X";
        left: 0;
        position: absolute;
        text-align: center;
        top: 1.5em;
        width: 100%;
    }

    .footer {
        padding: 5vh 0;
    }
}

@media (max-width: 600px) {
    .half-hero {
        display: none;
    }
}