/* GLOBAL STYLE */
html, body {
    margin: 0;
    padding: 0;
}

html {
    box-shadow: 0 0 0 30px #000 inset;
    padding: 0 30px;
}

body {
    font-family: helvetica, arial, sans;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

a {
    color: #f00;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.5;
}

/* 
"h2 + p" Works on the P if the p is immediately after the h2 
"h2 ~ p" works on ALL ps that come after the h2.

This selective stuff doesn't go on to elements inside other elements tho :)
*/

h2 ~ p {
    font-size: 0.8em;
    font-style: normal;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}

blockquote {
    margin-top: 0.5em;
    padding: 2px 20px; 
    background-color: grey; 
    text-align: center;
}

/* HEADER STUFF */
.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.header-logo {
    background-color: #000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    padding-top: 10px;
    left: -30px;
    position: relative;
    text-align: center;
    width: 10vh;
  }

.header-logo:hover,
.header-logo:active {
    opacity: 0.25;
}

.header-logo img {
    width: 4.3vh;
}

.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}

.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}

/* Apply these rules to any li next to intial li in element with class header-nav. */
.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
}

.nav-links a:hover, 
.nav-links a:active {
    color: red;
    opacity: 0.5;
}

/* Target the first link using the first-child */

.header-nav > li:first-child a,
.header-nav > li:last-child a {
    color: red;
}

.header-nav > li:first-child a:hover,
.header-nav > li:first-child a:active,
.header-nav > li:last-child a:hover,
.header-nav > li:last-child a:active {
    color: #fff;
}

/* FOOTER STYLE */
.footer {
    background-color: #000;
    padding: 10vh 0 10vh;
    text-align: center;
}

.footer-logo img {
    width: 50px;
}

.footer h3 {
    font-size: 30px;
    color: #fff;
    padding-top: 1em;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaa;
}

.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0;
}

.footer-nav a {
    color: #ccc;
}

/* INFO STYLE */
.info-wrapper {
    padding: 2%;
    line-height: 1.5;
}

/* HERO STYLES */
.full-hero {
    background-color: #c7dbfc;
    padding-top: 10vh;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
}

/* This is one method to make a down arrow
.full-hero::after {
    bottom: 2vh;
    color: #fff;
    content: '⌄';
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}
*/

.full-hero::after {
    border: 10px solid;
    border-color: #fff transparent transparent;
    bottom: 2vh;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
}


.hero-home {
    /* Resizing the position using anchor point center top */
    background-position: center top;
    background-image: url(/images/shark.jpg);
}

.hero-content {
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0, -50%);
}

.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25em;
}

.hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.8);
    color: #557c83;
}

.hero-content .social-link:hover {
    background-color: #000;
    color: #fff;
}

/* HERO AFTER AND BEFORE
.hero-content h1::before {
    color: blue;
    content: 'B';
}

.hero-content h1::after {
    color: red;
    content: 'A';
}
*/

/* HOME STYLE */
.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw;
}

.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.home-callout {
    background-color: #000;
    color: #fff;
    padding: 7vh 0;
}

.callout-title {
    font-size: 5.75vw;
    text-align: right;
    text-transform: uppercase;
}

.callout-copy p {
    font-size: 0.8rem;
}

/* SOCIAL STYLE */

.social-link {
    /* Use RGBa to set transparency. 0 is transparent and 1 is opaque */
    background: rgba(150, 150, 150, 0.5);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.85em; 
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}

.social-link:hover {
    color: #060;
    opacity: 0.5;
}

.social-list {
    list-style: none;
    padding: 3vh 0;
    text-align: center;
}

.sfooter {
    background-color: #000;
}

.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}

/* BIO STYLES */

.bio-wrapper {
    background-color: #c7dbfc;
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    /* Overflow hidden clears the float so text doesnt cascade down the blocks */
}

.bio-box {
    float: left;
    font-size: 1rem;
    margin: 6rem 0 0;
    padding: 0 3% 3%;
    width: 33%;
    box-sizing: border-box;
}

.bio-box .social-link {
    display: block;
    margin: 2em auto 1em;
}

.bio-box img {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.bio-box h3 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: -40px 0 1em 0;
    text-transform: uppercase;
}

.bio-copy {
    font-size: 1em;
    line-height: 1.5;
}

.bio-copy a {
    color: #060;
}

.star {
    color: #de7308;
}
