/* GLOBAL STYLE */
html, body {
    margin: 0;
    padding: 0;
}

html {
    box-shadow: 0 0 0 30px #000 inset;
    padding: 0 30px;
}

body {
    font-family: helvetica, arial, sans;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

a {
    color: #f00;
}

h2 {
    font-size: 30px;
}

/* 
"h2 + p" Works on the P if the p is immediately after the h2 
"h2 ~ p" works on ALL ps that come after the h2.

This selective stuff doesn't go on to elements inside other elements tho :)
*/

h2 ~ p {
    font-size: 0.8em;
    font-style: normal;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}

blockquote {
    margin-top: 0.5em;
    padding: 2px 20px; 
    background-color: grey; 
    text-align: center;
}

/* HEADER STUFF */
.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.header-logo {
    background-color: #000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    padding-top: 10px;
    left: -30px;
    position: relative;
    text-align: center;
    width: 10vh;
  }

.header-logo:hover,
.header-logo:active {
    opacity: 0.25;
}

.header-logo img {
    width: 4.3vh;
}

.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}

.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}

/* Apply these rules to any li next to intial li in element with class header-nav. */
.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav a:hover, 
.header-nav a:active {
    color: red;
    opacity: 0.5;
}

/* Target the first link using the first-child */

.header-nav > li:first-child a,
.header-nav > li:last-child a {
    color: red;
}

.header-nav > li:first-child a:hover,
.header-nav > li:first-child a:active,
.header-nav > li:last-child a:hover,
.header-nav > li:last-child a:active {
    color: #fff;
}

/* FOOTER STYLE */
.footer {
    background-color: #000;
    padding: 10vh 0 15vh;
    text-align: center;
}

.footer-logo img {
    width: 50px;
}

.footer h3 {
    font-size: 30px;
    color: #fff;
    padding-top: 1em;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaa;
}

/* INFO STYLE */
.info-wrapper {
    padding: 2%;
    line-height: 1.5;
}


/* HERO STYLES */
.full-hero {
    background-color: #c7dbfc;
    padding: 2%;
    height: 25vh;
}

/* SOCIAL STYLE */

.social-link {
    /* Use RGBa to set transparency. 0 is transparent and 1 is opaque */
    background: rgba(150, 150, 150, 0.5);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.85em; 
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}

.social-link:hover {
    color: #060;
    opacity: 0.5;
}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}

/* BIO STYLES */

.bio-wrapper {
    background-color: #c7dbfc;
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    /* Overflow hidden clears the float so text doesnt cascade down the blocks */
}

.bio-box {
    border: 1px solid #000;
    width: 50%;
    font-size: 1rem;
    margin: 40px 1%;
    padding: 2%;
    float: left;
    width: 23%;
    box-sizing: border-box;
}

.bio-box .social-link {
    display: block;
    margin: 2em 0 1em;
}

.bio-box img {
    width: 100%;
}

.bio-box h3 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: -40px 0 1em 0;
}

.bio-copy {
    font-size: 1em;
    line-height: 1.5;
}

.bio-copy a {
    color: #060;
}
