

/* GLOBAL STYLE */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, sans;
}

h1 {
    font-size: 2.25rem;
    margin-top: 0;
}

a {
    color: #f00;
}

h2 {
    font-size: 30px;
}

blockquote {
    margin-top: 0.5em;
    padding: 2px 20px; 
    background-color: grey; 
    text-align:center;
}

/* HERO STYLES */
.full-hero {
    background-color: #c7dbfc;
    padding: 5vh;
    display: inline-block;
    width: 100vw;
}

/* SOCIAL STYLE */

.social-link {
    /* Use RGBa to set transparency. 0 is transparent and 1 is opaque */
    background: rgba(150, 150, 150, 0.5);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.85em; 
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}

/* BIO STYLES */
.bio-wrapper {
    background-color: #c7dbfc;
    font-size: 24px;
    overflow: hidden;
    /* Overflow hidden clears the float so text doesnt cascade down the blocks */
}

.bio-box {
    border: 1px solid #000;
    width: 50%;
    font-size: 1rem;
    margin: 40px 1%;
    padding: 2%;
    float: left;
    width: 23%;
    box-sizing: border-box;
}

.bio-box .social-link {
    display: block;
    margin: 2em 0 1em;
}

.bio-box img {
    width: 100%;
}

.bio-box h3 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: -40px 0 1em 0;
}

.bio-copy {
    font-size: 1em;
    line-height: 1.5;
}

.bio-copy a {
    color: #060;
}
