<li><a href="/">Home</a></li>   
<li><a href="{{ site.posts.first.url }}">Newest Post</a></li> 

<li class="dropdown">
   <a class="drop-trigger" href="/blog/">Blog</a>
   <ul class="drop-menu">
      <li>Recent Posts</li>
      {% for post in site.posts limit:5 %}
         <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
   </ul>
</li>

<li class="dropdown">
   <a href="/gallery/index.html" class="drop-trigger">gallery</a>
   
   <ul class="drop-menu">
      <li>Recent Galleries</li>
         <li><a href="/gallery/footlongs.html">Melon</a></li>
         <li><a href="/gallery/index.html">Gallery Tests</a></li>
   </ul>
</li>


<li><a href="/">About</a></li> 