---
layout: default
---
<script src="physics.js"></script>
<script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

<div class="projectile">
  <div class="inputs">
    <button onclick="Input()" id="button3">Input parameters</button>
    <button onclick="window.location.reload();">Refresh Page</button>
    <button onclick="generateGraph()">Generate the graphs</button>
  
    <p><u>Parameters to input:</u> velocity, Initial height, Angle of Launch</p>
  </div>
  
  <div class="calculator "id="calculator"></div>
  
  <div class="table">
    <table>
      <tbody>
        <tr>
          <th>Graph No:</th>
          <th>Angle of launch</th>
          <th>Starting Velocity</th>
          <th>Intial height of launch</th>
          <th>Horizontal Velocity</th>
          <th>Vertical Velocity</th>
          <th>Time Of Flight</th>
          <th>Distance projectile reaches<br>First x-intercept</th>
          <th>Maximum height, x value<br>Turning point, x value</th>
          <th>Maximum height of projectile<br>Turning point, y value</th>
          <th>Time at which maximum height is reached</th>
        </tr>
        
        {% for i in (1..18) %}
        <tr>
          <td id="no">{{i}}</td>
          <td id="ang{{i}}"></td>
          <td id="v{{i}}"></td>
          <td id="c{{i}}"></td>
          <td id="vx{{i}}"></td>
          <td id="vy{{i}}"></td>
          <td id="tof{{i}}"></td>
          <td id="s{{i}}"></td>
          <td id="h{{i}}"></td>
          <td id="k{{i}}"></td>
          <td id="tt{{i}}"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br><br>
    
    <table>
      <tbody>
        <tr>
          <th>Graph No: </th>
          <th>Equation in completed square form</th>
        </tr>
        
        {% for i in (1..18) %}
        <tr>
          <td id="no">{{i}}</td>
          <td id="eqc{{i}}"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div>  
</div>
