<!DOCTYPE html>
<html>
  <head>
    <title>Test Page: Don't Panic</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style4.css">
  </head>
  <body>
    <div class="full-hero hero-home">
      <h1>I'm an h1</h1>
      <ul class="social-list">
        <li>
          <a class="social-link" href="https://example.com/">Fb</a>
        </li>
        <li>
          <a class="social-link" href="https://example.com/">Tw</a>
        </li>
        <li>
          <a class="social-link" href="https://example.com/">Gh</a>
        </li>
      </ul>
    </div>
    <h2>I'm an h2</h2>
    <div class="bio-wrapper">
    <div class="bio-box">
      <img src="https://s.namemc.com/2d/skin/face.png?id=daa729b7ab495cd2&scale=4">
      <h3>Michael Hartl</h3>
      <a class="social-link" href="https://twitter.com/">here</a>
      <div class="bio-copy">
      <p>
        Known for his dazzling charm, rapier wit, and unrivaled humility,
        Michael is the creator of the
        <a href="https://www.railstutorial.org/">Ruby on Rails
        Tutorial</a> and principal author of the
        <a href="https://learnenough.com/">
        Learn Enough to Be Dangerous</a> introductory sequence. Michael
        is also notorious as the founder of
        <a href="http://tauday.com/">Tau Day</a> and author of
        <a href="http://tauday.com/tau-manifesto"><em>The Tau
        Manifesto</em></a>, but rumors that he's secretly a supervillain
        are slightly exaggerated.
      </p>
      </div>
    </div>
    <div class="bio-box">
      <img src="https://s.namemc.com/2d/skin/face.png?id=daa729b7ab495cd2&scale=4">
      <h3>oCacti</h3>
      <a class="social-link" href="https://twitter.com/leedonahoe">here</a>
      <div class="bio-copy">
      <p>
        Hey there! I am a seasoned hypixel player who really enjoys playing bedwars. I would like to know more people and get deeper into the community
      </p>
      <blockquote>
        "hi im calling to inform you about your car's extended warranty"
      </blockquote>
      </div>
    </div>
    <div class="bio-box">
      <img src="https://s.namemc.com/2d/skin/face.png?id=daa729b7ab495cd2&scale=4">
      <h3>oCacti</h3>
      <a class="social-link" href="https://twitter.com/nickmerwin">here</a>
      <div class="bio-copy">
      <p>
        Hey there! I am a seasoned hypixel player who really enjoys playing bedwars. I would like to know more people and get deeper into the community
      </p>
      <blockquote>
        "hi im calling to inform you about your car's extended warranty"
      </blockquote>
      </div>
    </div>
    <div class="bio-box">
      <img src="https://s.namemc.com/2d/skin/face.png?id=daa729b7ab495cd2&scale=4">
      <h3>??</h3>
      <p>
        The Future
      </p>
    </div>
    </div>
    <p class="fatal-mistakes">
      For zombies I’ve concluded that we have three fatal mistakes . Firstly we need to establish one camping ground and stick to it, don’t stray anywhere away until last zombie left. Secondly, we need to each guard one direction of mansion when camping courtyard, 2 person one guard each direction. The people who’s guarding shouldn’t be greedy and turn to the other direction to take some shots, because that increases the likelihood of getting backstabbed and dying. Just guard one direction and stick to it. Tell the other in vc to retreat if zombies getting too close. Lastly, when ur the last person alive, focus on surviving first instead of diving into danger to revive, secure the area first then revive. If need be and ur cornered block your sword while reviving.
      That’s for bad blood</p>
  </body>
</html>